{
  "self": "https://faucet.prussia.dev",
  "name": "Prussia's <coin> Faucet",
  "db": "mongodb",
  "port": 8080,
  "unopened_reduced_payouts": false,
  "captcha": {
    "use": "prussia_captcha",
    "prussia_captcha": "https://captcha.prussia.dev"
  },
  "favicon": false,
  "logo": true,
  "owner": "Prussia",
  "banano": {
    "claim_frequency": 86400000,
    "enabled": true,
    "default": true,
    "auto_receive": false,
    "address": "ban_3346kkobb11qqpo17imgiybmwrgibr7yi34mwn5j6uywyke8f7fnfp94uyps",
    "rpc": "https://kaliumapi.appditto.com/api",
    "payouts": {
      "min_payout": 0.02,
      "max_payout": 0.07,
      "percentage": false
    }
  },
  "nano": {
    "claim_frequency": 86400000,
    "enabled": true,
    "address": "nano_3346kkobb11qqpo17imgiybmwrgibr7yi34mwn5j6uywyke8f7fnfp94uyps",
    "rpc": "",
    "payouts": {
      "min_payout": 0.0001,
      "max_payout": 0.0002,
      "percentage": false
    }
  },
  "xdai": {
    "claim_frequency": 86400000,
    "enabled": true,
    "address": "0x6e49e60f7228b6cc9883c89811266d212092a8aa",
    "rpc": "",
    "payouts": {
      "min_payout": 0.005,
      "max_payout": 0.005,
      "percentage": false
    }
  },
  "vite": {
    "claim_frequency": 86400000,
    "enabled": true,
    "address": "",
    "rpc": "",
    "payouts": {
      "min_payout": 0.01,
      "max_payout": 0.05,
      "percentage": false
    },
    "token": {
      "id": "",
      "amount": 1,
      "decimals": 0
    },
    "optional": true
  },
  "api": true,
  "debug": true,
  "secrets": {
    "use_env": true
  }
}