<html>
  <!--This should let jinja extensions come in. For example, my prussia faucet wants special decorations during holidays, so a jinja file should be able to be imported in here-->
  <head>
    <!-- Ape Lincoln for President -->
    <meta charset="utf-8">
    <meta property="og:title" content="Banano Faucet">
    <meta property="og:description" content="Earn Free Banano, and Never Let Your Memes be Dreams!">
    <meta property="og:image" content="(banano image here)">
    <meta name="viewport" content="width=device-width">
    <title>{{ faucet_name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="/banano.css" rel="stylesheet" type="text/css" />
    <!--If using hcaptcha-->
    {% if captcha == 'hcaptcha' %}
      <script src="https://hcaptcha.com/1/api.js" async defer></script>
    {% endif %}
  </head>
  <body>
    <!--
    <div class="notice">
      <center>
        <span class="closebtn" onclick="this.parentElement.parentElement.style.display='none';">&times;</span> Celebrating 100k Transactions! <b>Payout doubled, free NFTs</b> until 2/2!
      </center>
    </div>
    -->
    <header id="header">
      <img src="/LOGO.png" alt="">
    </header>
      <main id=#main>
      <br>
      {% if given %}
          <p>Come back in {{ claim_time_str }} to claim Banano again!</p>
          <p>{{ amount }} Banano has been sent to address {{ address }}</p>
          <p>Donations to {{ faucet_address }} keep the faucet running! Please donate. Payouts increase when faucet balance is high.</p>
          <!--Hello faucet operators, please leave this in. It helps support faucet development and improvements to the faucet.-->
          <p>Additionally, you can donate to the faucet development fund: ban_3pdripjhteyymwjnaspc5nd96gyxgcdxcskiwwwoqxttnrncrxi974riid94</p>
        <b>Current Faucet Balance: {{ current_bal }}</b>
      {% else %}
        {% if errors %}
          {{ errors }}
        {% endif %}
        <center>
        </center>
        <form method="POST" 
          {% if is_default %}
            action="/"
          {% else %}
            action="/banano"
          {% endif %}
        id="faucet-form">
          <p>Hi! Please donate to the faucet: {{ faucet_address }}.</p>
          <div class="address-input">
            <label for="address" class="form-label">Banano Address:</label>
            <input id="address" class="form-control" type="text" name="address" required>
          </div>
					<div id="extra"></div>
          {% if captcha == 'hcaptcha' %}
            <div class="h-captcha" data-sitekey="{{ sitekey }}"></div>
          {% elif captcha == 'prussia_captcha' %}
            <!--Prussia captcha html stuff-->
            <div id="challenge">
              <img src="{{ challenge_url }}" title="A text captcha" id="challenge-img"/>
              <input type="text" name="answer" id="challenge-answer" placeholder="Captcha answer..."/>
              <input type="hidden" name="code" value="{{ challenge_code }}"/>
              <input type="hidden" name="nonce" value="{{ challenge_nonce }}"/>
              <br>
            </div>
          {% endif %}
          <div id="checkbox"></div>
          <div class="btn-container">
            <button type="submit">Get Free Banano</button>
          </div>
        </form>
        <b><a href="https://banano.cc/">What is Banano and how do I get a Banano Address?</a></b>
      {% endif %}
    </main>
    <footer>
      <p>
        <a href="https://ibb.co/0XxGNqt" target="_blank">
          Frontend courtesy of: Ape Lincoln for President of the Banunion
        </a>
        <!--Frontend by Salty Walty (ban address: ban_3w8pj471g6octbqjfqrgot15fsbf3erx94qa4r7benyrn3mobnqa97sty6x7 )-->
      </p>
    </footer>
    <script>
      let input = document.createElement('input');
      input.required = true;
      let id = String(Math.floor(Math.random() * (99 - 0 + 1) + 0))
      input.id = id;
      input.type = "checkbox";
      document.getElementById('checkbox').appendChild(input);
      let label = document.createElement('label');
      label.innerText = "I am not a bot";
      label.htmlFor = id;
      document.getElementById('checkbox').appendChild(label);
    </script>
  </body>
</html>