<!--This page will only show if no currency is selected as the default-->
<html>
  <head>
    <!-- Ape Lincoln for President -->
    <meta charset="utf-8">
    <meta property="og:title" content="{{ faucet_name }}">
    <meta property="og:description" content="Earn Free Cryptocurrency!">
    <meta property="og:image" content="(logo here)">
    <meta name="viewport" content="width=device-width">
    <title>Prussia Faucets</title>
  </head>
  <body>
    <!--List all the faucets-->
    <ul>
      {% for coin in enabled_coins %}
        <li><a href="/{{ coin }}">{{ coin }} Faucet</a></li>
      {% endfor %}
    </ul>
  </body>
</html>