<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Earn Free Nano!" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ faucet_name }}" />
    <meta property="og:description" content="Earn Free Nano!" />
    <meta property="og:image" content="img/nano-logo.png" />
    <title>{{ faucet_name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Inter:wght@300&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/nano.css" />
    <link rel="icon" type="image/x-icon" href="img/nano-favicon.ico" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 mt-5">
            <div class="row">
              <div class="col-12 mt-5 mb-4">
                <h1 class="fw-light text-center">{{ faucet_name }}</h1>
              </div>
              <div class="col-12 my-2">
                {% if given %}
                <div class="alert alert-success display" role="alert">
                  <p class="lead"><b>Success!</b></p>
                  <p class="mb-0">{{ amount }} XNO has been sent to: <span class="text-wrap text-address">{{ given_to }}</span>. <a class="link-light" href="https://www.nanolooker.com/block/{{ tx }}" taget="_blank" rel="noopener noreferrer">View on explorer</a>.</p>
                </div>
                {% else %}
                {% if notice %}
                <div class="alert alert-success alert-dismissible shadow display mb-4" role="alert">
                  <h5 class="lead">{{ notice.title }}</h5>
                  <p class="mb-0">{{ notice.content }}</p>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                  {% if notice.link %}
                  <a class="btn btn-primary mt-3" type="text/html" href="{{ notice.link }}" target="_blank" rel="noopener noreferrer">Take me there!</a>
                  {% endif %}
                </div>
                {% endif %}
                <form method="POST" action="{% if default_faucet === 'nano' %}/{% else %}/nano{% endif %}" id="form">
                  <div class="row g-0">
                    <div class="col-8 mb-2">
                      <input type="text" class="form-control form-control-lg border-light rounded-end-0" name="address" id="address" placeholder="nano_..." />
                    </div>
                    <div class="col-4 mb-2 d-grid">
                      <button type="submit" id="buttonElement" class="btn btn-primary btn-lg rounded-start-0 px-4">Drop!</button>
                    </div>
                    <div id="hcaptcha" class="h-captcha" data-sitekey="{{ sitekey }}" data-theme="dark" data-size="invisible" data-callback="captchaSubmit" data-chalexpired-callback="captchaExpired" data-open-callback="captchaOpen" data-close-callback="captchaClose" data-error-callback="captchaError">
                      <input type="hidden" name="g-recaptcha-response" value="" />
                    </div>
                  </div>
                </form>
                <div id="clientErrors"></div>
                {% endif %}
                <div class="mt-4">
                  <h5>What is Nano?</h5>
                  <p>Nano is a fast and feeless cryptocurrency based on DAG technology.</p>
                  <h5 class="mt-4">Where can I get an address?</h5>
                  <p>You can set up a wallet and get a address <a class="text-decoration-none" href="https://nault.cc/" target="_blank" rel="noopener noreferrer">here</a>.</p>
                  <h5 class="mt-4">Still lost?</h5>
                  <p>You can learn more <a class="text-decoration-none" href="https://nano.org/" target="_blank" rel="noopener noreferrer">here</a>. Also make sure to check out the <a class="text-decoration-none" href="https://reddit.com/r/nanocurrency" target="_blank" rel="noopener noreferrer">Reddit</a>, <a class="text-decoration-none" href="https://t.me/nanocurrency/" target="_blank" rel="noopener noreferrer">Telegram</a> and <a class="text-decoration-none" href="https://chat.nano.org/" target="_blank" rel="noopener noreferrer">Discord</a> communities.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <div class="footer-text text-center opacity-75">
          <p class="mb-2"><a class="text-decoration-none" href="https://prussia.dev" target="_blank" rel="noopener noreferrer">Prussia</a> | <a class="text-decoration-none" href="https://halfbakedbread.github.io" target="_blank" rel="noopener noreferrer">HalfBakedBread</a></p>
          <p class="small">This site is protected by hCaptcha and its <a class="text-decoration-none" href="https://hcaptcha.com/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a> and <a class="text-decoration-none" href="https://hcaptcha.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a> apply.</p>
        </div>
      </div>
    </footer>
    <script>
      const serverGiven = '{{ given }}' === 'true';
      const serverErrors = '{{ errors }}';
      const serverIdentifier = '{{ coin }}';
      const claimingAddress = '{{ given_to }}';
    </script>
    <script src="https://hcaptcha.com/1/api.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@bananocoin/bananojs@2.7.10/dist/bananocoin-bananojs.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>
