html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: antiquewhite;
}

* {
  font-family: Helvetica;
}

#main {
  background-color: #007AFF;
  width: 60%;
  margin: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: -2px 1px gray;
  padding-bottom: 7%;
}

#container {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 15px;
}

@media screen and (max-width: 500px) {
  #main {
    width: 75%;
  }
}

#gif {
  width: 70%;
}

#address {
  width: 50%;
  min-width: 150px;
  margin-left: 3px;
}

#claim-button {
  min-width: 100px;
  min-height: 30px;
  font-size: 1em;
  width: 25%;
  height: 3vw;
  background-color: blue;
  border: 2px solid darkblue;
  border-radius: 5px;
  color: white;
}

#claim-modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: (0, 0, 0, 0.5);
}

#claim-modal {
  margin: 15% auto;
  width: 75%;
  height: 35%;
  background-color: white;
  border: 1px solid black;
  padding: 15px;
}

input[type="submit"] {
  background-color: aliceblue;
}

#challenge {
  width: 200px;
}

#challenge-answer {
  width: 100%;
  margin: 0;
  padding: 0;
}

#challenge-img {
  width: 100%;
}