html {
  background: repeat url("/xdai.png");
}

#center {
  width: 60%;
  height: 60%;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  padding-top: 1%;
  margin-top: 10%;
}

#trips {
  width: 24px;
}

* {
  font-family: Verdana;
}

#challenge {
  width: 200px;
}

#challenge-answer {
  width: 100%;
  margin: 0;
  padding: 0;
}

#challenge-img {
  width: 100%;
}