{% macro req_addr_btn() %}
  <input type="button" value="Use GoBanMe address" id="gobanme-request-address" onclick="requestAddress()">
  <style>
    #gobanme-request-address {
      color: #212529;background-color: #fbdd11;
      border: none;
      border-radius: 5px;
      margin-bottom: 5px;
      box-shadow: 0 7px 0 0 #e6c910 !important;
      display: none;
    }
  </style>
  <script>
    //gobanme injects a window.banano that has many useful features for gobanme browser extension users
    if (window.banano) {
      document.getElementById("gobanme-request-address").style.display = "inline-block";
      document.getElementsByClassName("form-label")[0].style.marginBottom = "15px";
    }
    function requestAddress() {
      window.banano.request_address();
    }
    window.addEventListener("message", function(e) {
      if (e.data.type === "banano_link") {
        document.getElementById("address").value = e.data.content.address;
      }
    });
  </script>
{% endmacro %}