{% macro banner(text, color, background_color) -%}
  <div id="banner">
    <center>
      {{ text }}
      <span class="banner-close" onclick="close_banner()">&times;</span>
    </center>
	</div>
  <script>
    function close_banner() {
      document.getElementById("banner").style.display = "none";
    }
  </script>
  <style>
    #banner {
      top: 4px;
      padding-bottom: 6px;
      color: {{ color }};
      background-color: {{ background_color }};
      width: 100%;
    }
    .banner-close {
      font-size: 1.5em;
    }
  </style>
{%- endmacro %}